.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

@media (min-width: 576px) {
    .container{
        width: 80%;
    }
}

a{
    text-decoration: none;
    color: #000;
}

body.menu-active{
    max-height: 100vh;
    overflow: hidden;
}

.flex{
    display: flex;
}